@import "../../scssUtils/variable";
@import "../../scssUtils/media";
.footerContainer {
  min-height: 20vh;
  background-color: #4c4c4c;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: $secondaryColor;
  text-transform: capitalize;
  padding-bottom: 2rem;
  @include se() {
    font-size: 1.1rem;
  }
}

.title {
  letter-spacing: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.7rem;
  font-weight: 400;
  text-transform: uppercase;
  @include mobile() {
    font-size: 2.2rem;
  }
  @include se() {
    font-size: 2.1rem;
  }
}

.contactInfo {
  margin: 10px;
  .link {
    color: $secondaryColor;
    text-decoration: none;
    text-transform: lowercase;
  }
  .name {
    margin-left: 7px;
    @include se() {
      display: none;
    }
  }
}
